<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mail/fragments/email-layout :: layout('Reset Your Password | TubeTasks', ~{::section})}">
<section>
    <h1>Reset Your Password</h1>
    <p th:text="'Hi, ' + ${displayName}">Hi,</p>
    <p>We received a request to reset your TubeTasks password. Please click the button below to continue.</p>
    <div class="button-container">
        <a th:href="${actionUrl}" class="button" style="color: #ffffff;">Reset Password</a>
    </div>
    <p>This link expires at <span th:text="${tokenExpiresAt}">expiry</span> (UTC).</p>
    <p th:if="${supportEmail != null}">Need help? Contact us at <span th:text="${supportEmail}">support</span>.</p>
    <p>If you did not request a password reset, you can ignore this email.</p>
</section>
</html>
